.calculator-container {
  background-color: #ff9f1c;
}

.calculator-container h2 {
  margin-top: 1.5em;
  font-size: 3em;
  font-weight: 100;
  margin-left: 1.2em;
}

/* 
  #ff9f1c 
  #ffbf69
  #ffffff
  #cbf3f0
  #2ec4b6
*/

.calculator-app {
  background-color: #cbf3f0;
  width: 23em;
  height: 29.6em;
  margin-top: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}

.calculator-app-result {
  height: 4.6em;
  margin-left: 8em;
  font-size: 2em;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.calculator-app-keys {
  margin-top: -4.6em;
  height: 26em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calculator-app-keys span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbf69;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-weight: 700;
  border: 2px solid #cbf3f0;
  transition: .2s ease-in-out;
}

.calculator-app-keys span:hover {
  border: 2px solid #2ec4b6;
}

.grid-equal {
  grid-row: 4/6;
  grid-column: 4/-1;
}

.span-border-right {
  border-bottom-right-radius: 2em;
}

.grid-zero {
  grid-column: 1/3;
}

.span-border-left {
  border-bottom-left-radius: 2em;
}