.phone-inside-center {
  width: 21em;
  height: 30em;
  display: flex;
  justify-content: space-between;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 5.5em;
}

.app {
  background-color: #00000036;
  width: 4.5em;
  height: 4.5em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.app:active {
  scale: 1.05;
}

.app img {
  width: 85%;
  height: 85%;
}

.app svg {
  font-size: 5em;
  color: #000;
}

.camera,
.clock,
.calculator,
.settings,
.todo,
.weather,
.tictactoe,
.exchange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.camera p,
.clock p,
.calculator p,
.settings p,
.todo p,
.weather p,
.tictactoe p,
.exchange p {
  font-size: .9em;
  color: #FFFDD0;
  font-weight: 700;
  text-shadow: 2px 2px 0px #000;
}