.todo-container {
  background-color: #61d6d8;
}

.todo-container h2 {
  margin-top: 1.5em;
  font-size: 3em;
  font-weight: 100;
  margin-left: 2.5em;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-app input[type="text"] {
  border: 0;
  background-color: #238c8e;
  padding: .5em;
  outline: none;
  caret-color: #fff;
  color: #fff;
  border-radius: .5em;
}

.todo-app input[type="text"]::placeholder {
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.todo-app input[type="text"]:hover {
  background-color: #207f80;
}

.todo-app input[type="submit"] {
  margin-left: .5em;
  border: 0;
  padding: .5em 1em;
  color: #2aa7a9;
  border-radius: 1em;
  cursor: pointer;
  transition: .2s ease;
}

.todo-app input[type="submit"]:hover {
  background-color: #238c8e;
  color: #fff;
}

@keyframes todo-error {
  0% {
    margin-top: 0em;
  }

  25% {
    margin-top: 1em;
  }

  100% {
    margin-top: 0em;
  }
}

.todo-error {
  display: none;
  animation: todo-error 2.5s ease;
}

.todo-tasks {
  margin-top: 1.2em;
  display: flex;
  flex-direction: column;
  border-radius: .2em;
  color: #fff;
}

.todo-task {
  margin-top: 1.2em;
  display: flex;
  width: 18em;
  height: 2em;
  background-color: #98e4e5;
  border-radius: .2em;
  color: #fff;
}

.todo-task input[type="text"] {
  background-color: #98e4e5;
  position: absolute;
  width: inherit;
  border-radius: 0;
  display: none;
}

.todo-task-check {
  position: absolute;
  font-size: 2em;
  left: 9em;
  display: none;
}

.todo-task svg {
  cursor: pointer;
}

.todo-task svg:hover {
  color: #207f80;
}

.todo-task-name {
  flex: 6;
  font-size: 1.2em;
}

.todo-task-delete,
.todo-task-edit {
  flex: 1;
  font-size: 1.5em;
}