.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phone {
  background-color: #242424;
  width: 25em;
  height: 45em;
  margin-top: 5vh;
  border-radius: 2.5em;
  display: flex;
  justify-content: center;
  position: relative;
  -webkit-user-drag: none;
  user-select: none;
}

.phone-inside-container {
  background-image: url("../src/assets/images/background1.jpg");
  background-size: cover;
  width: 23em;
  height: 43em;
  margin-top: 2vh;
  border-radius: 2em;
  transition: .5s ease;
}

@keyframes appClicked {
  0% {scale: 1}
  50% {scale: .5}
  75% {scale: 1}
  100% {scale: 2.5}
}

@keyframes returnHome {
  0% {scale: 1;}
  10% {scale: .9}
  20% {scale: .8}
  30% {scale: .7}
  40% {scale: .6}
  50% {scale: .5}
  60% {scale: .4}
  70% {scale: .3}
  80% {scale: .2}
  90% {scale: .1}
  100% {scale: 0}
}

.return-button {
  position: absolute;
  top: 34em;
  left: 20em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  z-index: 10;
  background-color: #242424;
  cursor: pointer;
}

.return-button::before {
  content: '';
  background-color: #fff;
  position: absolute;
  top: 0.65em;
  left: 0.65em;
  width: 1.7em;
  height: 1.7em;
  border-radius: 50%;
  z-index: 1;
}

.return-button::after {
  content: '';
  background-color: #535353;
  position: absolute;
  top: 0.4em;
  left: 0.389em;
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;
}