* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #FFFDD0;
}

a {
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

.swiper-pagination-bullet {
  background-color: #FFFDD0;
}

.easter-egg {
  background-image: url("../src/assets/images/easteregg.png");
  background-size: cover;
  width: 6em;
  height: 6em;
  position: absolute;
  top: 8em;
  left: 15em;
  opacity: 0;
}

.easter-egg:hover {
  opacity: .03;
}

.app-main-page {
  height: 43.2em;
  width: 23.3em;
  position: absolute;
  top: .9em;
  left: .9em;
  z-index: 5;
  border-radius: 2em;
}

.phone-top-bar-app.phone-top-bar {
  left: 5.5em;
  top: -.5em;
}

.phone-clock-app.phone-clock {
  margin-top: .5em;
}

@media screen and (max-height: 800px) {
  .weather-container,
  .camera-container,
  .todo-container,
  .calculator-container,
  .memory-container,
  .settings-container,
  .tictactoe-container,
  .streaming-container {
    top: .85em;
  }

  .phone {
    scale: .9;
    margin-top: -2vh;
  }
}

@media screen and (max-height: 680px) {
  .phone {
    scale: .8;
    margin-top: -9vh;
  }
}

@media screen and (max-height: 620px) {
  .weather-container,
  .camera-container,
  .todo-container,
  .calculator-container,
  .memory-container,
  .settings-container,
  .tictactoe-container,
  .streaming-container {
    top: .7em;
  }

  .phone {
    scale: .65;
    margin-top: -11vh;
  }
}

@media screen and (max-height: 540px) {
  .weather-container,
  .camera-container,
  .todo-container,
  .calculator-container,
  .memory-container,
  .settings-container,
  .tictactoe-container,
  .streaming-container {
    top: .55em;
  }
}

@media screen and (max-height: 440px) {
  .weather-container,
  .camera-container,
  .todo-container,
  .calculator-container,
  .memory-container,
  .settings-container,
  .tictactoe-container,
  .streaming-container {
    top: .5em;
  }
}

@media screen and (min-height: 1020px) {
  .phone-inside-container {
    margin-top: 1vh;
    height: 42em;
  }

  .phone {
    height: 44em;
  }

  .app-main-page.weather-container,
  .app-main-page.camera-container,
  .app-main-page.todo-container,
  .app-main-page.calculator-container,
  .app-main-page.memory-container,
  .app-main-page.settings-container,
  .app-main-page.tictactoe-container,
  .app-main-page.streaming-container {
    height: 42.5em;
  }

  .app-main-page {
    left: .95em;
    width: 23.1em;
    top: .7em;
  }

  .calculator-app .calculator-app-keys {
    height: 25em;
  }
}

@media screen and (max-height: 530px) {
  .phone {
    scale: .55;
    margin-top: -20vh;
  }
}