.tictactoe-container {
  background-color: #90928f;
}

.tictactoe-container h2 {
  margin-top: 1.5em;
  font-size: 3em;
  font-weight: 100;
  margin-left: 1.2em;
}

.tictactoe-app {
  background-color: #ccc;
  width: 18.7em;
  margin-top: 2em;
  margin-left: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tictactoe-area {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
  transition: .2s ease;
}

.tictactoe-area:hover {
  background-color: #444;
}

.bottom {
  border-bottom: 1px solid #222;
}

.right {
  border-right: 1px solid #222;
}

.tictactoe-info {
  margin-top: 2em;
  font-weight: 700;
  text-align: center;
}

.tictactoe-turn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .5em;
}

.tictactoe-turn span {
  margin-left: .2em;
  width: 1em;
}

.tictactoe-turn p,
.tictactoe-turn span {
  font-size: 1.2em;
}

@keyframes win-animation {
  0% {margin-top: -1em;}
  100% {margin-top: 0em;}
}

.tictactoe-winner {
  font-size: 2em;
  font-weight: 700;
  color: #FFFDD0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: win-animation .2s ease;
  margin-top: 0em;
}

.tictactoe-winner button {
  padding: .5em 2em;
  cursor: pointer;
  color: #FFFDD0;
  transition: .2s ease;
  border: 1px solid #778be6;
  background-color: #5a67a3;
}

.tictactoe-winner button:hover {
  background-color: #d197cb;
  border: 1px solid #ffb8f8;
}